@{    
    Layout =null;
    }

<div>
    <ul>
        <li>@Html.ActionLink("SendAndBlock - a Controller uses NServiceBus", "Index", "SendAndBlock")</li>
        <li>@Html.ActionLink("SendAsync - an AsyncController uses NServiceBus", "Index", "SendAsync")</li>
        <li>@Html.ActionLink("Equipments", "List", "Equipments")</li>
    </ul>
</div>
   
