@{    
    Layout =null;
    }

<div>
    <ul>
        <li>@Html.ActionLink("Equipments", "List", "Equipments")</li>
        <li>@Html.ActionLink("Invoice", "Get", "Invoice")</li>
    </ul>
</div>
   
