@{    
    Layout =null;
    }

<div>
    <ul>
        <li>@Html.ActionLink("Equipments", "List", "Equipment")</li>
        <li>@Html.ActionLink("Checkout and Invoice", "Get", "Invoice")</li>
    </ul>
</div>
   
